In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_excel("creditcardmarketing.xlsx", engine="openpyxl")

In [4]:
df.head(2)

,Customer Number,Offer Accepted,Reward,Mailer Type,Income Level,# Bank Accounts Open,Overdraft Protection,Credit Rating,# Credit Cards Held,# Homes Owned,Household Size,Own Your Home,Average Balance,Q1 Balance,Q2 Balance,Q3 Balance,Q4 Balance
0,1,No,Air Miles,Letter,High,1,No,High,2,1,4,No,1160.75,1669.0,877.0,1095.0,1002.0
1,2,No,Air Miles,Letter,Medium,1,No,Medium,2,2,5,Yes,147.25,39.0,106.0,78.0,366.0

In [13]:
a = ' dsad# # fds'

In [10]:
a.replace('#', '')

'dsad  fds'

In [14]:
a.strip()

'dsad# # fds'

In [15]:
def standarize_colums(col):
    col = col.replace('#', '')
    col = col.strip()
    col = col.lower()
    col = col.replace(' ', '_')
    return col

In [16]:
df.columns = [standarize_colums(c) for c in df.columns]

In [17]:
df.columns

Index(['customer_number', 'offer_accepted', 'reward', 'mailer_type',
       'income_level', 'bank_accounts_open', 'overdraft_protection',
       'credit_rating', 'credit_cards_held', 'homes_owned', 'household_size',
       'own_your_home', 'average_balance', 'q1_balance', 'q2_balance',
       'q3_balance', 'q4_balance'],
      dtype='object')

In [18]:
df.drop('customer_number', axis=1, inplace=True)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18000 entries, 0 to 17999
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   offer_accepted        18000 non-null  object
 1   reward                18000 non-null  object
 2   mailer_type           18000 non-null  object
 3   income_level          18000 non-null  object
 4   bank_accounts_open    18000 non-null  int64
 5   overdraft_protection  18000 non-null  object
 6   credit_rating         18000 non-null  object
 7   credit_cards_held     18000 non-null  int64
 8   homes_owned           18000 non-null  int64
 9   household_size        18000 non-null  int64
 10  own_your_home         18000 non-null  object
 11  average_balance       17976 non-null  float64
 12  q1_balance            17976 non-null  float64
 13  q2_balance            17976 non-null  float64
 14  q3_balance            17976 non-null  float64
 15  q4_balance            17976 non-null  float64
dtypes: float64(5), int64(4), object(7)
memory usage: 2.2+ MB