# Lab | SQL Queries 8

In this lab, you will be using the [Sakila](https://dev.mysql.com/doc/sakila/en/) database of movie rentals. You have been using this database for a couple labs already, but if you need to get the data again, refer to the official [installation link](https://dev.mysql.com/doc/sakila/en/sakila-installation.html).

The database is structured as follows:
![DB schema](https://education-team-2020.s3-eu-west-1.amazonaws.com/data-analytics/database-sakila-schema.png)

### Instructions

1. Rank films by length (filter out the rows with nulls or zeros in length column). Select only columns title, length and rank in your output.
2. Rank films by length within the `rating` category (filter out the rows with nulls or zeros in length column). In your output, only select the columns title, length, rating and rank.  
3. How many films are there for each of the categories in the category table? **Hint**: Use appropriate join between the tables "category" and "film_category".
4. Which actor has appeared in the most films? **Hint**: You can create a join between the tables "actor" and "film actor" and count the number of times an actor appears.
5. Which is the most active customer (the customer that has rented the most number of films)? **Hint**: Use appropriate join between the tables "customer" and "rental" and count the `rental_id` for each customer.

**Bonus**: Which is the most rented film? (The answer is Bucket Brotherhood).

This query might require using more than one join statement. Give it a try. We will talk about queries with multiple join statements later in the lessons.

**Hint**: You can use join between three tables - "Film", "Inventory", and "Rental" and count the *rental ids* for each film.

# Your solution here:

In [8]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass  # To get the password without showing the input

##### Prepare SQL connection

In [9]:
password = getpass.getpass()
connection_string = 'mysql+pymysql://root:' + password + '@localhost/bank'
engine = create_engine(connection_string)
%load_ext sql
%sql {connection_string}

 ·········

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: root@bank'

In [12]:
# Your code:

In [21]:
# 1
%%sql 
select * rank() over (order by length desc) as 'Rank' from sakila.film;

SyntaxError: invalid syntax (2252289933.py, line 3)

In [22]:
# 2
%%sql 
select title, length, ranking, rank() over (practition by ranking order by length desc) as 'Rank' from sakila.film;

SyntaxError: invalid syntax (2615026101.py, line 3)

In [23]:
# 3
%%sql
select a.film_id, a.category_id, a.last_update, l.cateory_id, l.name, l.last_update
from sakila.category as l 
left join sakila.film_category as a on l.category_id = a.category_id
order by l.category_id

SyntaxError: invalid syntax (4158149373.py, line 3)

In [24]:
# 4
%%sql
select a.actor_id, a.first_name, a.last_name, l.actor_id, l.film_id
from sakila.actor as a
left join sakila.film_actor as l 
on a.actor_id = l.actor_id

SyntaxError: invalid syntax (1308667399.py, line 3)