In [2]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass  # To get the password without showing the input

In [3]:
password = getpass.getpass()
connection_string = 'mysql+pymysql://root:' + password + '@localhost/bank'
engine = create_engine(connection_string)
%load_ext sql
%sql {connection_string}

 ······

'Connected: root@bank'

# Introduction to subqueries

In this section, we will just introduce the concept of subqueries and show an example of _self-contained subquery_. Correlated subqueries will be covered in the later sessions.

Introduction to subqueries

- Self-contained subqueries
- Correlated subqueries
- Using the results of another query as a table in a database

Using subqueries is a convenient capability in the language when you want one query to operate on the result of another, and if you prefer not to use intermediate objects like variables for this purpose. Primarily there are two kinds of subqueries:

- `self-contained` - queries that are independent of the outer query.
- `correlated` - queries that have references (correlations) to columns of tables from the outer query.
- [OPTIONAL] `scalar` - queries that return a single value and that are allowed where a single-valued expression is expected.

One of the advantages of self-contained subqueries compared to correlated ones is the ease of troubleshooting. You can always copy the inner query to a separate window and troubleshoot it independently. When you are done troubleshooting and fixing what you need, you can paste the subquery back in the host query. Also, important to is that `self-contained` (`uncorrelated`) subqueries _run only once_ for the entire query.

Lets use the `loan` table from the `bank` database. We want to identify the customers who have borrowed amount which are more than the average amount of all customers. This would not be possible to achieve through simple queries that have used before (without using variables which we will take a look at, later in the course). For this we will use a subquery.

In [4]:
%%sql
-- step 1: calculate the average
select avg(amount) from bank.loan;

 * mysql+pymysql://root:***@localhost/bank
1 rows affected.

[(Decimal('151169.2380'),)]

-- step 2 --> pseudo code the main goal of this step ....

select * from bank.loan where amount > "AVERAGE";

In [9]:
%%sql
-- step 3 ... create the query
select * from bank.loan
where amount > (
  select avg(amount)
  from bank.loan
);

 * mysql+pymysql://root:***@localhost/bank
285 rows affected.

[(5316, 1801, 930711, 165960, 36, 4610.0, 'A'),
 (7240, 11013, 930906, 274740, 60, 4579.0, 'A'),
 (6111, 5428, 930924, 174744, 24, 7281.0, 'B'),
 (7235, 10973, 931013, 154416, 48, 3217.0, 'A'),
 (6228, 6034, 931201, 464520, 60, 7742.0, 'B'),
 (7104, 10320, 931213, 259740, 60, 4329.0, 'A'),
 (5170, 1071, 940120, 253200, 60, 4220.0, 'C'),
 (7226, 10940, 940223, 197748, 36, 5493.0, 'A'),
 (6087, 5313, 940227, 300660, 60, 5011.0, 'C'),
 (7262, 11135, 940301, 182628, 36, 5073.0, 'A'),
 (6336, 6555, 940331, 212400, 36, 5900.0, 'A'),
 (7055, 10079, 940406, 167100, 60, 2785.0, 'C'),
 (7066, 10131, 940502, 215388, 36, 5983.0, 'B'),
 (6072, 5256, 940510, 193968, 36, 5388.0, 'A'),
 (5568, 2933, 940517, 272520, 60, 4542.0, 'C'),
 (6580, 7769, 940522, 196080, 48, 4085.0, 'A'),
 (6647, 8051, 940601, 208320, 48, 4340.0, 'A'),
 (7137, 10439, 940603, 151560, 24, 6315.0, 'A'),
 (5918, 4576, 940604, 300204, 36, 8339.0, 'A'),
 (6736, 8558, 940614, 288360, 60, 4806.0, 'C'),
 (6112, 5442, 940617, 174744, 24, 7281.0, 'B'),
 (5319, 1811, 940623, 239460, 60, 3991.0, 'C'),
 (5837, 4260, 940629, 244560, 60, 4076.0, 'C'),
 (6232, 6051, 940708, 276660, 36, 7685.0, 'B'),
 (6066, 5228, 940711, 173808, 24, 7242.0, 'A'),
 (5060, 426, 940719, 252060, 60, 4201.0, 'D'),
 (5126, 790, 940724, 208128, 48, 4336.0, 'B'),
 (5395, 2176, 940730, 299088, 36, 8308.0, 'B'),
 (6836, 9093, 940803, 189300, 60, 3155.0, 'C'),
 (6841, 9104, 940807, 172080, 48, 3585.0, 'A'),
 (6038, 5120, 940810, 323472, 48, 6739.0, 'A'),
 (6686, 8260, 940825, 224604, 36, 6239.0, 'A'),
 (6120, 5481, 940911, 209184, 48, 4358.0, 'A'),
 (6594, 7824, 940928, 189696, 24, 7904.0, 'B'),
 (6738, 8566, 940929, 230220, 36, 6395.0, 'B'),
 (5887, 4448, 941003, 192744, 36, 5354.0, 'A'),
 (6808, 8982, 941012, 227880, 36, 6330.0, 'A'),
 (5390, 2167, 941030, 170256, 24, 7094.0, 'A'),
 (5176, 1106, 941112, 192552, 24, 8023.0, 'B'),
 (5269, 1527, 941119, 164052, 36, 4557.0, 'B'),
 (5351, 1978, 941204, 205200, 36, 5700.0, 'A'),
 (5450, 2345, 941211, 199680, 60, 3328.0, 'C'),
 (7142, 10451, 941219, 482940, 60, 8049.0, 'D'),
 (6272, 6226, 941220, 398640, 60, 6644.0, 'C'),
 (6526, 7523, 950103, 288468, 36, 8013.0, 'A'),
 (5624, 3166, 950103, 177744, 48, 3703.0, 'D'),
 (6244, 6118, 950108, 270648, 36, 7518.0, 'B'),
 (5418, 2245, 950116, 347952, 48, 7249.0, 'C'),
 (5724, 3678, 950205, 316140, 60, 5269.0, 'D'),
 (5876, 4413, 950208, 221280, 48, 4610.0, 'C'),
 (6986, 9750, 950211, 151728, 48, 3161.0, 'D'),
 (5132, 817, 950217, 538500, 60, 8975.0, 'C'),
 (7241, 11021, 950304, 168984, 24, 7041.0, 'B'),
 (7004, 9869, 950315, 331560, 60, 5526.0, 'C'),
 (5414, 2228, 950329, 185952, 48, 3874.0, 'C'),
 (5453, 2361, 950401, 156672, 36, 4352.0, 'A'),
 (5804, 4079, 950405, 158976, 48, 3312.0, 'C'),
 (6151, 5628, 950425, 225420, 60, 3757.0, 'C'),
 (5310, 1762, 950428, 248148, 36, 6893.0, 'A'),
 (5045, 347, 950501, 187224, 24, 7801.0, 'B'),
 (5151, 960, 950524, 189060, 60, 3151.0, 'C'),
 (5713, 3629, 950530, 158760, 60, 2646.0, 'C'),
 (6704, 8377, 950601, 417060, 60, 6951.0, 'C'),
 (6725, 8489, 950623, 265320, 36, 7370.0, 'A'),
 (7166, 10630, 950624, 198240, 24, 8260.0, 'A'),
 (5970, 4774, 950709, 465072, 48, 9689.0, 'C'),
 (6153, 5632, 950725, 285600, 60, 4760.0, 'C'),
 (6933, 9493, 950909, 188688, 48, 3931.0, 'C'),
 (5145, 915, 950916, 309552, 48, 6449.0, 'C'),
 (7227, 10942, 951002, 314520, 60, 5242.0, 'C'),
 (6712, 8405, 951014, 266220, 60, 4437.0, 'C'),
 (7057, 10093, 951020, 231696, 36, 6436.0, 'A'),
 (7176, 10663, 951028, 260028, 36, 7223.0, 'A'),
 (7304, 11349, 951029, 419880, 60, 6998.0, 'C'),
 (5409, 2218, 951118, 182040, 60, 3034.0, 'C'),
 (6955, 9627, 951122, 244368, 48, 5091.0, 'C'),
 (7243, 11042, 951204, 217152, 36, 6032.0, 'A'),
 (6403, 6924, 951205, 194880, 48, 4060.0, 'C'),
 (6545, 7606, 951212, 191880, 60, 3198.0, 'C'),
 (6178, 5742, 951216, 232560, 48, 4845.0, 'C'),
 (5160, 1011, 951218, 204000, 60, 3400.0, 'C'),
 (6540, 7562, 951231, 309600, 48, 6450.0, 'C'),
 (6589, 7815, 960101, 189696, 24, 7904.0, 'A'),
 (5482, 2496, 960112, 165120, 60, 2752.0, 'C'),
 (6175, 5735, 960221, 290700, 60, 4845.0, 'D'),
 (5563, 2912, 960229, 380160, 60, 6336.0, 'C'),
 (5989, 4852, 960304, 213300, 36, 5925.0, 'C'),
 (6698, 8327, 960310, 247728, 48, 5161.0, 'C'),
 (5312, 1772, 960313, 202788, 36, 5633.0, 'C'),
 (7189, 10728, 960321, 154656, 48, 3222.0, 'C'),
 (5128, 808, 960411, 215616, 48, 4492.0, 'D'),
 (5470, 2456, 960415, 200976, 48, 4187.0, 'C'),
 (5593, 3037, 960418, 277884, 36, 7719.0, 'D'),
 (5350, 1967, 960421, 249312, 48, 5194.0, 'C'),
 (6063, 5213, 960425, 320976, 48, 6687.0, 'D'),
 (4973, 67, 960502, 165960, 24, 6915.0, 'A'),
 (6715, 8411, 960506, 220620, 60, 3677.0, 'C'),
 (6550, 7614, 960518, 320592, 48, 6679.0, 'C'),
 (5706, 3608, 960524, 161496, 36, 4486.0, 'C'),
 (5148, 940, 960529, 284280, 60, 4738.0, 'C'),
 (6734, 8547, 960530, 173016, 36, 4806.0, 'C'),
 (6109, 5422, 960603, 368880, 60, 6148.0, 'C'),
 (6961, 9645, 960606, 176148, 36, 4893.0, 'C'),
 (6810, 9006, 960608, 186384, 48, 3883.0, 'C'),
 (5494, 2572, 960613, 360000, 48, 7500.0, 'C'),
 (6667, 8127, 960715, 155880, 24, 6495.0, 'A'),
 (5725, 3679, 960723, 444864, 48, 9268.0, 'C'),
 (5136, 846, 960728, 187104, 24, 7796.0, 'A'),
 (5337, 1886, 960731, 162468, 36, 4513.0, 'C'),
 (6012, 4994, 960803, 258444, 36, 7179.0, 'C'),
 (6471, 7184, 960804, 155640, 24, 6485.0, 'A'),
 (6296, 6358, 960806, 270384, 48, 5633.0, 'C'),
 (5282, 1583, 960824, 388512, 48, 8094.0, 'D'),
 (5938, 4650, 960825, 402000, 60, 6700.0, 'C'),
 (5606, 3084, 960828, 253512, 36, 7042.0, 'D'),
 (6302, 6397, 960916, 181020, 60, 3017.0, 'C'),
 (6732, 8533, 960919, 174048, 48, 3626.0, 'C'),
 (7036, 10019, 960925, 194940, 36, 5415.0, 'C'),
 (7271, 11186, 961002, 392460, 60, 6541.0, 'C'),
 (5329, 1862, 961016, 396120, 60, 6602.0, 'C'),
 (5082, 501, 961024, 262980, 60, 4383.0, 'C'),
 (6585, 7795, 961029, 372120, 60, 6202.0, 'C'),
 (5886, 4447, 961031, 192744, 36, 5354.0, 'C'),
 (6073, 5263, 961112, 276300, 60, 4605.0, 'C'),
 (6006, 4948, 961115, 359760, 60, 5996.0, 'C'),
 (5611, 3115, 961115, 321180, 60, 5353.0, 'C'),
 (7101, 10297, 961118, 421008, 48, 8771.0, 'C'),
 (6940, 9510, 961122, 228276, 36, 6341.0, 'C'),
 (5209, 1250, 961125, 182640, 48, 3805.0, 'C'),
 (6011, 4981, 961128, 179328, 48, 3736.0, 'C'),
 (5591, 3021, 961204, 155616, 48, 3242.0, 'C'),
 (7154, 10520, 961205, 417600, 60, 6960.0, 'C'),
 (6818, 9030, 961212, 155616, 48, 3242.0, 'C'),
 (5625, 3189, 961215, 222180, 60, 3703.0, 'D'),
 (7122, 10365, 970104, 260640, 36, 7240.0, 'D'),
 (6173, 5724, 970108, 232560, 48, 4845.0, 'C'),
 (6142, 5591, 970121, 221880, 60, 3698.0, 'C'),
 (6554, 7637, 970129, 390096, 48, 8127.0, 'C'),
 (6793, 8931, 970130, 186300, 60, 3105.0, 'C'),
 (5419, 2246, 970205, 415800, 60, 6930.0, 'C'),
 (6255, 6158, 970208, 247920, 48, 5165.0, 'D'),
 (6028, 5072, 970209, 317520, 60, 5292.0, 'C'),
 (6415, 6950, 970212, 475680, 48, 9910.0, 'C'),
 (6938, 9504, 970310, 341280, 60, 5688.0, 'C'),
 (5942, 4681, 970315, 162624, 48, 3388.0, 'C'),
 (6871, 9225, 970413, 164256, 48, 3422.0, 'C'),
 (5363, 2051, 970422, 293880, 60, 4898.0, 'D'),
 (6055, 5181, 970428, 399120, 60, 6652.0, 'C'),
 (5072, 472, 970428, 196800, 24, 8200.0, 'D'),
 (5758, 3859, 970502, 307200, 60, 5120.0, 'D'),
 (7088, 10233, 970503, 239160, 60, 3986.0, 'C'),
 (5532, 2754, 970504, 335280, 48, 6985.0, 'C'),
 (6660, 8094, 970509, 220428, 36, 6123.0, 'C'),
 (5451, 2350, 970511, 159744, 48, 3328.0, 'C'),
 (6014, 4999, 970518, 165168, 36, 4588.0, 'C'),
 (5556, 2872, 970519, 268320, 60, 4472.0, 'C'),
 (5850, 4293, 970522, 164196, 36, 4561.0, 'C'),
 (6851, 9138, 970603, 272220, 60, 4537.0, 'D'),
 (6695, 8320, 970604, 309660, 60, 5161.0, 'C'),
 (6908, 9353, 970608, 188616, 24, 7859.0, 'C'),
 (7255, 11096, 970609, 213300, 60, 3555.0, 'C'),
 (5674, 3418, 970610, 207264, 48, 4318.0, 'C'),
 (5486, 2516, 970613, 466608, 48, 9721.0, 'C'),
 (5174, 1093, 970613, 385104, 48, 8023.0, 'C'),
 (6435, 7045, 970616, 288720, 48, 6015.0, 'C'),
 (6877, 9241, 970619, 285240, 60, 4754.0, 'C'),
 (7085, 10202, 970619, 305424, 48, 6363.0, 'C'),
 (7049, 10063, 970624, 233424, 36, 6484.0, 'C'),
 (6350, 6678, 970709, 294384, 48, 6133.0, 'C'),
 (5063, 442, 970710, 357840, 48, 7455.0, 'D'),
 (5041, 319, 970711, 369000, 60, 6150.0, 'C'),
 (5086, 525, 970716, 210384, 48, 4383.0, 'C'),
 (5270, 1528, 970721, 191088, 48, 3981.0, 'C'),
 (6705, 8381, 970725, 333648, 48, 6951.0, 'D'),
 (7001, 9859, 970810, 300600, 60, 5010.0, 'C'),
 (6541, 7565, 970817, 153504, 48, 3198.0, 'C'),
 (6097, 5362, 970821, 202848, 48, 4226.0, 'C'),
 (6338, 6592, 970824, 390660, 60, 6511.0, 'C'),
 (5830, 4190, 970828, 405780, 60, 6763.0, 'C'),
 (6007, 4949, 970830, 289920, 48, 6040.0, 'C'),
 (6104, 5395, 970905, 158184, 36, 4394.0, 'C'),
 (6625, 7966, 970907, 473280, 60, 7888.0, 'D'),
 (5963, 4746, 970907, 204780, 60, 3413.0, 'C'),
 (4990, 110, 970908, 162576, 36, 4516.0, 'C'),
 (5369, 2080, 970912, 214596, 36, 5961.0, 'C'),
 (6196, 5837, 970914, 177804, 36, 4939.0, 'C'),
 (5236, 1374, 970915, 389136, 48, 8107.0, 'C'),
 (5719, 3664, 970920, 271584, 48, 5658.0, 'C'),
 (7050, 10065, 970923, 311232, 48, 6484.0, 'C'),
 (6239, 6083, 970928, 360864, 48, 7518.0, 'D'),
 (7181, 10679, 971002, 197808, 24, 8242.0, 'C'),
 (6118, 5477, 971004, 349392, 48, 7279.0, 'C'),
 (5051, 378, 971011, 230400, 60, 3840.0, 'C'),
 (6655, 8085, 971017, 260400, 60, 4340.0, 'D'),
 (6534, 7542, 971019, 590820, 60, 9847.0, 'C'),
 (6607, 7894, 971021, 153144, 36, 4254.0, 'C'),
 (6675, 8158, 971101, 238716, 36, 6631.0, 'C'),
 (5956, 4725, 971104, 168264, 36, 4674.0, 'C'),
 (5731, 3711, 971105, 460980, 60, 7683.0, 'D'),
 (5447, 2335, 971112, 541200, 60, 9020.0, 'D'),
 (5973, 4784, 971124, 219456, 48, 4572.0, 'C'),
 (5281, 1580, 971127, 194256, 24, 8094.0, 'C'),
 (6468, 7176, 971130, 203940, 60, 3399.0, 'C'),
 (7209, 10857, 971130, 385560, 60, 6426.0, 'D'),
 (4988, 103, 971206, 265320, 36, 7370.0, 'D'),
 (7279, 11244, 971211, 155760, 24, 6490.0, 'C'),
 (5043, 339, 971225, 468060, 60, 7801.0, 'C'),
 (5469, 2445, 971226, 293160, 60, 4886.0, 'C'),
 (5976, 4794, 971227, 465504, 48, 9698.0, 'D'),
 (6147, 5602, 971228, 177504, 48, 3698.0, 'C'),
 (6254, 6157, 971228, 247920, 48, 5165.0, 'C'),
 (7100, 10280, 971231, 348120, 60, 5802.0, 'C'),
 (7147, 10478, 980102, 267600, 48, 5575.0, 'C'),
 (7037, 10022, 980103, 218064, 48, 4543.0, 'C'),
 (6237, 6075, 980106, 407952, 48, 8499.0, 'D'),
 (6552, 7632, 980108, 170448, 48, 3551.0, 'C'),
 (6486, 7240, 980115, 152160, 60, 2536.0, 'C'),
 (5569, 2936, 980120, 504000, 60, 8400.0, 'C'),
 (6791, 8926, 980123, 566640, 60, 9444.0, 'C'),
 (5360, 2035, 980125, 176328, 36, 4898.0, 'C'),
 (6633, 7997, 980205, 160656, 24, 6694.0, 'C'),
 (6926, 9455, 980207, 374760, 60, 6246.0, 'C'),
 (6442, 7082, 980208, 194160, 48, 4045.0, 'C'),
 (5889, 4456, 980209, 321240, 60, 5354.0, 'C'),
 (5765, 3875, 980210, 153936, 24, 6414.0, 'C'),
 (5124, 785, 980212, 156096, 36, 4336.0, 'C'),
 (5491, 2545, 980213, 428784, 48, 8933.0, 'C'),
 (5140, 873, 980224, 178500, 60, 2975.0, 'C'),
 (7171, 10650, 980224, 196224, 48, 4088.0, 'C'),
 (6568, 7713, 980225, 220440, 60, 3674.0, 'C'),
 (6861, 9179, 980228, 215040, 60, 3584.0, 'C'),
 (7129, 10404, 980301, 194280, 60, 3238.0, 'C'),
 (6859, 9167, 980307, 272220, 60, 4537.0, 'C'),
 (5772, 3906, 980308, 334620, 60, 5577.0, 'C'),
 (6948, 9560, 980315, 157068, 36, 4363.0, 'C'),
 (6083, 5305, 980331, 240528, 48, 5011.0, 'C'),
 (6962, 9646, 980402, 279072, 48, 5814.0, 'C'),
 (5158, 1004, 980411, 188532, 36, 5237.0, 'C'),
 (6235, 6062, 980419, 321360, 60, 5356.0, 'C'),
 (7195, 10774, 980423, 339168, 48, 7066.0, 'C'),
 (6872, 9227, 980429, 191580, 60, 3193.0, 'C'),
 (6436, 7049, 980522, 495180, 60, 8253.0, 'C'),
 (5699, 3562, 980524, 174960, 24, 7290.0, 'C'),
 (5435, 2279, 980601, 314688, 48, 6556.0, 'C'),
 (5815, 4116, 980603, 151200, 36, 4200.0, 'C'),
 (5589, 3005, 980605, 390000, 48, 8125.0, 'C'),
 (6746, 8639, 980606, 185640, 60, 3094.0, 'C'),
 (6450, 7099, 980610, 234336, 48, 4882.0, 'C'),
 (7221, 10915, 980611, 152460, 60, 2541.0, 'C'),
 (5527, 2728, 980615, 156420, 60, 2607.0, 'C'),
 (7167, 10644, 980618, 269964, 36, 7499.0, 'C'),
 (5823, 4144, 980621, 212976, 36, 5916.0, 'C'),
 (6207, 5912, 980623, 184620, 60, 3077.0, 'C'),
 (6932, 9491, 980625, 225504, 48, 4698.0, 'C'),
 (7168, 10645, 980705, 208332, 36, 5787.0, 'C'),
 (5042, 330, 980712, 331584, 48, 6908.0, 'C'),
 (5354, 2000, 980714, 290820, 60, 4847.0, 'C'),
 (7295, 11328, 980718, 280440, 60, 4674.0, 'C'),
 (5365, 2055, 980719, 271260, 60, 4521.0, 'C'),
 (6755, 8713, 980724, 170700, 60, 2845.0, 'C'),
 (5991, 4858, 980727, 335184, 48, 6983.0, 'D'),
 (7035, 10005, 980729, 210744, 36, 5854.0, 'C'),
 (7164, 10613, 980815, 249792, 48, 5204.0, 'C'),
 (5304, 1718, 980820, 172272, 24, 7178.0, 'C'),
 (5561, 2910, 980829, 437460, 60, 7291.0, 'C'),
 (5520, 2699, 980830, 231168, 48, 4816.0, 'C'),
 (6078, 5283, 980909, 170832, 48, 3559.0, 'C'),
 (5334, 1876, 980910, 209040, 24, 8710.0, 'C'),
 (6821, 9037, 980915, 321936, 48, 6707.0, 'C'),
 (5614, 3137, 980921, 253560, 60, 4226.0, 'C'),
 (5698, 3556, 980922, 174840, 60, 2914.0, 'C'),
 (5169, 1068, 980924, 253200, 60, 4220.0, 'C'),
 (5318, 1808, 980930, 385584, 48, 8033.0, 'C'),
 (5265, 1498, 981007, 165780, 60, 2763.0, 'C'),
 (5226, 1318, 981011, 185544, 36, 5154.0, 'C'),
 (4967, 37, 981014, 318480, 60, 5308.0, 'D'),
 (5293, 1656, 981029, 189792, 48, 3954.0, 'C'),
 (5865, 4354, 981030, 327660, 60, 5461.0, 'C'),
 (7292, 11317, 981122, 317460, 60, 5291.0, 'C'),
 (5644, 3293, 981127, 276084, 36, 7669.0, 'C'),
 (6856, 9156, 981201, 163332, 36, 4537.0, 'C'),
 (5428, 2262, 981202, 230220, 36, 6395.0, 'C'),
 (5027, 276, 981202, 160920, 36, 4470.0, 'C'),
 (4989, 105, 981205, 352704, 48, 7348.0, 'C'),
 (6748, 8645, 981208, 240900, 60, 4015.0, 'C')]

In [10]:
%%sql
-- step 4 - Prettify the result. Let's find top 10 such customers
select * from bank.loan
where amount > (select avg(amount) from bank.loan)
order by amount desc
limit 5;

 * mysql+pymysql://root:***@localhost/bank
5 rows affected.

[(6534, 7542, 971019, 590820, 60, 9847.0, 'C'),
 (6791, 8926, 980123, 566640, 60, 9444.0, 'C'),
 (5447, 2335, 971112, 541200, 60, 9020.0, 'D'),
 (5132, 817, 950217, 538500, 60, 8975.0, 'C'),
 (5569, 2936, 980120, 504000, 60, 8400.0, 'C')]

# 3.04 Activity 4

Top 10 loans vs. top 10% loans in the `loan` table from the `bank` database .

### Solution:

In [12]:
%%sql
select loan_id, amount from bank.loan
order by amount desc
limit 10

 * mysql+pymysql://root:***@localhost/bank
10 rows affected.

[(6534, 590820),
 (6791, 566640),
 (5447, 541200),
 (5132, 538500),
 (5569, 504000),
 (6436, 495180),
 (7142, 482940),
 (6415, 475680),
 (6625, 473280),
 (5043, 468060)]

In [21]:
%%sql 
select count(loan_id) from bank.loan

 * mysql+pymysql://root:***@localhost/bank
1 rows affected.

[(685,)]

In [48]:
%%sql
select loan_id, amount, (row_number() over (order by amount desc)) / (select count(loan_id) from bank.loan) * 100 as top10percent 
from bank.loan 
limit 5;

 * mysql+pymysql://root:***@localhost/bank
5 rows affected.

[(6534, 590820, Decimal('0.1460')),
 (6791, 566640, Decimal('0.2920')),
 (5447, 541200, Decimal('0.4380')),
 (5132, 538500, Decimal('0.5839')),
 (5569, 504000, Decimal('0.7299'))]

First try (this query gives an error):

In [61]:
%%sql
select loan_id, amount, (row_number() over (order by amount desc)) / (select count(loan_id) from bank.loan) * 100 as top10percent 
from bank.loan 
where top10percent >= 10
limit 5;

 * mysql+pymysql://root:***@localhost/bank
(pymysql.err.OperationalError) (1054, "Unknown column 'top10percent' in 'where clause'")
[SQL: select loan_id, amount, (row_number() over (order by amount desc)) / (select count(loan_id) from bank.loan) * 100 as top10percent
from bank.loan
where top10percent >= 10
limit 5;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

The error tells us the there's an unknown column _top10percent_ . This is because Windows functions are evaluated later than WHERE clauses in the logical order of SQL:

1. FROM, JOIN
2. WHERE
3. GROUP BY
4. Aggregation functions
5. HAVING
6. Window functions
7. SELECT
8. DISTINCT
9. UNION/INTERSECT/EXCEPT
10. ORDER BY
11. OFFSET
12. LIMIT/FETCH/TOP

Solution: use a subquery

In [60]:
%%sql
with loans_rated as (
    select loan_id, amount, (row_number() over (order by amount desc)) / (select count(loan_id) from bank.loan) * 100 as top10percent 
    from bank.loan 
)

select loan_id, top10percent 
from loans_rated
where top10percent <= 10;

 * mysql+pymysql://root:***@localhost/bank
68 rows affected.

[(6534, Decimal('0.1460')),
 (6791, Decimal('0.2920')),
 (5447, Decimal('0.4380')),
 (5132, Decimal('0.5839')),
 (5569, Decimal('0.7299')),
 (6436, Decimal('0.8759')),
 (7142, Decimal('1.0219')),
 (6415, Decimal('1.1679')),
 (6625, Decimal('1.3139')),
 (5043, Decimal('1.4599')),
 (5486, Decimal('1.6058')),
 (5976, Decimal('1.7518')),
 (5970, Decimal('1.8978')),
 (6228, Decimal('2.0438')),
 (5731, Decimal('2.1898')),
 (5725, Decimal('2.3358')),
 (5561, Decimal('2.4818')),
 (5491, Decimal('2.6277')),
 (7101, Decimal('2.7737')),
 (7304, Decimal('2.9197')),
 (7154, Decimal('3.0657')),
 (6704, Decimal('3.2117')),
 (5419, Decimal('3.3577')),
 (6237, Decimal('3.5036')),
 (5830, Decimal('3.6496')),
 (5938, Decimal('3.7956')),
 (6055, Decimal('3.9416')),
 (6272, Decimal('4.0876')),
 (5329, Decimal('4.2336')),
 (7271, Decimal('4.3796')),
 (6338, Decimal('4.5255')),
 (6554, Decimal('4.6715')),
 (5589, Decimal('4.8175')),
 (5236, Decimal('4.9635')),
 (5282, Decimal('5.1095')),
 (5318, Decimal('5.2555')),
 (7209, Decimal('5.4015')),
 (5174, Decimal('5.5474')),
 (5563, Decimal('5.6934')),
 (6926, Decimal('5.8394')),
 (6585, Decimal('5.9854')),
 (5041, Decimal('6.1314')),
 (6109, Decimal('6.2774')),
 (6239, Decimal('6.4234')),
 (5494, Decimal('6.5693')),
 (6006, Decimal('6.7153')),
 (5063, Decimal('6.8613')),
 (4989, Decimal('7.0073')),
 (6118, Decimal('7.1533')),
 (7100, Decimal('7.2993')),
 (5418, Decimal('7.4453')),
 (6938, Decimal('7.5912')),
 (7195, Decimal('7.7372')),
 (5532, Decimal('7.8832')),
 (5991, Decimal('8.0292')),
 (5772, Decimal('8.1752')),
 (6705, Decimal('8.3212')),
 (5042, Decimal('8.4672')),
 (7004, Decimal('8.6131')),
 (5865, Decimal('8.7591')),
 (6038, Decimal('8.9051')),
 (6821, Decimal('9.0511')),
 (6235, Decimal('9.1971')),
 (5889, Decimal('9.3431')),
 (5611, Decimal('9.4891')),
 (6063, Decimal('9.6350')),
 (6550, Decimal('9.7810')),
 (4967, Decimal('9.9270'))]